<h1>My cocktail</h1>

<h2><%= @cocktail.name %></h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %></li>
  <% end %>
</ul>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) , class: "btn btn-danger" %>
<%= link_to "Back", cocktails_path, class: "btn btn-danger" %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
