<h1>My cocktail</h1>

<h2><%= @cocktail.name %></h2>
<%= cl_image_tag @cocktail.photo, height: 150, width: 200, crop: :fill %>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> <%= dose.ingredient.name %>
    <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %></li>
  <% end %>
</ul>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) , class: "btn btn-danger" %>
<%= link_to "Back", cocktails_path, class: "btn btn-danger" %>


