<h1>Doses#new</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>

<%= link_to "Back", cocktail_path(@cocktail), class: "btn btn-danger" %>
